.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.alert {
  margin-bottom: 0;
}
a:hover {
  color: #333;
}
.blog-head {
  width: 100%;
  height: 70px;
  line-height: 70px;
  align-items: center;
  background-color: #8fa399;
  color: #fafafa;
  user-select: none;
}
.blog-head a {
  color: #fafafa;
}
.blog-head a:hover {
  color: #d4d4d4;
}
.blog-head--logo img {
  height: 36px;
  border-radius: 50%;
  width: auto;
}
.blog-head--nav {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.blog-nav--item>li:not(first-child) {
  margin-left: 32px;
}
.blog-nav-right {
  flex: 1;
  justify-content: right;
  align-items: center;
}
.blog-head--search {
  margin-right: 32px;
}
.input-group {
  overflow: hidden;
  height: 36px;
  border: 1px solid #fafafa;
  border-radius: 8px;
}
.blog-input--search {
  padding-left: 8px;
  height: 36px;
  border: 0;
  background-color: #8fa399;
}
.blog-input--search::placeholder {
  color: #fafafa;
  font-size: 16px;
}
.blog-input--search:focus {
  outline: none;
}
.blog-input--search svg {
  color: bg-modifier-color;
  background-color: #8fa399;
  cursor: pointer;
}
.blog-head--login .blog-btn--login,
.blog-head--login .blog-btn--register {
  cursor: pointer;
}
.blog-head--avatar {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.blog-head--avatar>img {
  width: 100%;
  height: 100%;
}
.blog-head--avatar:hover .blog-head--write {
  transform: translateX(0) translateY(0);
}
.blog-head--write {
  position: absolute;
  transform: translateX(36px);
  transition: 0.5s;
  color: #fff;
}
.bi-chevron-down {
  margin-left: 24px;
  cursor: pointer;
}
.blog-main {
  margin-top: 48px;
}
.blog-slide-wrap {
  margin-right: 80px;
  padding: 48px 0;
  box-shadow: 0 0 2px #5e767c;
  border-radius: 12px;
  background-color: #fafafa;
}
.blog-avatar {
  overflow: hidden;
  text-align: center;
}
.blog-avatar img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  user-select: none;
}
.blog-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-info--nickname {
  padding: 16px 0;
}
.blog-info--state {
  display: flex;
  justify-content: center;
  user-select: none;
}
.blog-info--state span {
  display: block;
  text-align: center;
  cursor: pointer;
}
.blog-info--state a:hover {
  color: #8fa399;
}
.blog-info--state a:not(:nth-of-type(1)) {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #333;
}
.blog-info--desc {
  margin-top: 24px;
}
.blog-main-wrap {
  position: relative;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 0 2px #5e767c;
}
.blog-content--item {
  text-align: center;
  color: #555;
}
.blog-content--item:not(:last-of-type) {
  margin-bottom: 8px;
}
.blog-content-link {
  display: block;
  background-color: #fafafa;
  border-radius: 4px;
  transition: 0.3s;
}
.blog-content-link:hover {
  box-shadow: 0 0 3px #8fa399 inset;
}
.blog-item--title {
  padding-top: 24px;
  font-size: 24px;
}
.blog-item--info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 12px;
  padding-bottom: 16px;
}
.blog-item--info p:not(:last-of-type) {
  padding-right: 8px;
}
.blog-item--illustration {
  height: 220px;
  width: auto;
  padding: 8px;
}
.blog-item--desc {
  padding: 24px;
  text-align: left;
  text-indent: 2em;
}
.blog-item--tags {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.blog-tags--like {
  padding-right: 8px;
}
.blog-tags--like:hover,
.blog-tags--comment:hover {
  color: #8fa399;
}
.blog-modal {
  display: grid;
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.3);
}
.blog-modal--wrap {
  justify-self: center;
  align-self: center;
  width: 50%;
  padding: 16px;
  box-shadow: 0 0 4px #5e767c inset;
  border-radius: 8px;
  background-color: #fafafa;
}
.blog-modal--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.blog-modal--title {
  color: #333;
  font-size: 32px;
}
.blog-modal--close {
  font-size: 16px;
}
.col-form-label {
  color: #555;
}
.blog-footer--confirm {
  border: 1px solid #bdc9cd;
  color: #555;
}
.blog-content--username,
.blog-content--email,
.blog-content--password {
  position: relative;
  padding-bottom: 24px;
}
.blog-content--username::after,
.blog-content--email::after,
.blog-content--password::after {
  content: attr(data-msg);
  position: absolute;
  top: 78px;
  left: 8px;
  font-size: 14px;
  color: #f00;
}
.blog-write--scroll {
  position: relative;
}
#editor-container h1,
#editor-container h2,
#editor-container h3,
#editor-container h4,
#editor-container h5,
#editor-container h6 {
  font-weight: 700;
}
#editor-container>.w-e-text-container {
  position: relative !important;
  height: 60vh !important;
}
.blog-write--title {
  margin: 16px 0;
}
.blog-input--write {
  padding: 8px;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #8fa399;
}
.blog-input--write:focus {
  outline: none;
}
.blog-input--write::placeholder {
  color: #999;
}
.placeholder {
  color: #999 !important;
}
.blog-write--control {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 8px;
  border-top: 1px solid #ccc;
}
.blog-write--control a {
  padding: 4px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 1px #333;
}
.blog-write--control a:not(first-child) {
  margin-left: 16px;
}
.blog-write--control a:hover {
  color: #858585;
}
.blog-article {
  padding: 0 16px;
  margin-bottom: 8px;
}
.blog-article h1,
.blog-article h2,
.blog-article h3,
.blog-article h4,
.blog-article h5,
.blog-article h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.blog-article--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 2px solid #8fa399;
}
.blog-info--basic {
  text-align: center;
}
.blog-info--basic span:not(:last-of-type) {
  padding-right: 8px;
}
.blog-article--tags span:not(:last-of-type) {
  padding-right: 8px;
}
.blog-message {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
}
.blog-message .alert.show {
  bottom: 0;
  opacity: 1;
}
