.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.alert {
  margin-bottom: 0;
}
a:hover {
  color: #333;
}
.blog-head {
  width: 100%;
  height: 70px;
  line-height: 70px;
  align-items: center;
  background-color: #8fa399;
  color: #fafafa;
  user-select: none;
}
.blog-head a {
  color: #fafafa;
}
.blog-head a:hover {
  color: #d4d4d4;
}
.blog-head--logo img {
  height: 36px;
  border-radius: 50%;
  width: auto;
}
.blog-head--nav {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.blog-nav--item>li:not(first-child) {
  margin-left: 32px;
}
.blog-nav-right {
  flex: 1;
  justify-content: right;
  align-items: center;
}
.blog-head--search {
  margin-right: 32px;
}
.input-group {
  overflow: hidden;
  height: 36px;
  border: 1px solid #fafafa;
  border-radius: 8px;
}
.blog-input--search {
  padding-left: 8px;
  height: 36px;
  border: 0;
  background-color: #8fa399;
  color: #fafafa;
}
.blog-input--search::placeholder {
  color: #fafafa;
  font-size: 16px;
}
.blog-input--search:focus {
  outline: none;
}
.blog-input--search svg {
  color: bg-modifier-color;
  background-color: #8fa399;
  cursor: pointer;
}
.blog-head--login .blog-btn--login,
.blog-head--login .blog-btn--register {
  cursor: pointer;
}
.blog-head--avatar {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.blog-head--avatar>img {
  width: 100%;
  height: 100%;
}
.blog-head--avatar:hover .blog-head--write {
  transform: translateX(0) translateY(0);
}
.blog-head--write {
  position: absolute;
  transform: translateX(36px);
  transition: 0.5s;
  color: #fff;
}
.bi-chevron-down {
  margin-left: 24px;
  cursor: pointer;
}
.blog-main {
  margin-top: 48px;
}
.blog-slide-wrap {
  margin-right: 80px;
  padding: 48px 0;
  box-shadow: 0 0 2px #999;
  border-radius: 12px;
  background-color: #fff;
}
.blog-avatar {
  overflow: hidden;
  text-align: center;
}
.blog-avatar img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  user-select: none;
}
.blog-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-info--nickname {
  padding: 16px 0;
}
.blog-info--state {
  display: flex;
  justify-content: center;
  user-select: none;
}
.blog-info--state span {
  display: block;
  text-align: center;
  cursor: pointer;
}
.blog-info--state a:hover {
  color: #8fa399;
}
.blog-info--state a:not(:nth-of-type(1)) {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #333;
}
.blog-info--desc {
  margin-top: 24px;
}
.blog-main-wrap {
  position: relative;
  min-height: 80vh;
  background-color: #fff;
}
.blog-content--item {
  box-shadow: 0 0 1px #999;
  text-align: center;
  color: #555;
}
.blog-content-link {
  display: block;
  background-color: #fff;
  transition: 0.3s;
}
.blog-content-link:hover {
  box-shadow: 0 0 3px #8fa399 inset;
}
.blog-item--title {
  padding-top: 24px;
  font-size: 24px;
}
.blog-item--info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 12px;
  padding-bottom: 16px;
}
.blog-item--info p:not(:last-of-type) {
  padding-right: 8px;
}
.blog-item--illustration {
  height: 220px;
  width: auto;
  padding: 8px;
}
.blog-item--desc {
  padding: 24px;
  text-align: left;
  text-indent: 2em;
}
.blog-item--tags {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.blog-tags--like {
  padding-right: 8px;
}
.blog-tags--like:hover,
.blog-tags--comment:hover {
  color: #8fa399;
}
.blog-content-never {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.blog-item-btn {
  display: block;
  padding: 16px 0;
}
.blog-item-btn:hover {
  font-weight: 500;
  color: #8fa399;
}
.blog-modal {
  display: grid;
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.3);
}
.blog-modal--wrap {
  justify-self: center;
  align-self: center;
  width: 50%;
  padding: 16px;
  box-shadow: 0 0 4px #5e767c inset;
  border-radius: 8px;
  background-color: #fafafa;
}
.blog-modal--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.blog-modal--title {
  color: #333;
  font-size: 32px;
}
.blog-modal--close {
  font-size: 16px;
}
.col-form-label {
  color: #555;
}
.blog-footer--confirm {
  border: 1px solid #bdc9cd;
  color: #555;
}
.blog-modal--content>div {
  position: relative;
  padding-bottom: 24px;
}
.blog-modal--content>div::after {
  content: attr(data-msg);
  position: absolute;
  top: 78px;
  left: 8px;
  font-size: 14px;
  color: #f00;
}
#editor-container h1,
#editor-container h2,
#editor-container h3,
#editor-container h4,
#editor-container h5,
#editor-container h6 {
  font-weight: 700;
}
#editor-container>.w-e-text-container {
  position: relative !important;
  height: 60vh !important;
}
#editor-container img {
  left: 0;
  right: 0;
  margin: 16px auto;
  display: block;
  width: 50%;
  height: auto;
}
.blog-write-wrap {
  padding: 0 16px;
  box-shadow: 0 0 1px #999;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
}
.blog-write--title {
  margin: 16px 0;
}
.blog-input--write {
  padding: 8px;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #8fa399;
}
.blog-input--write:focus {
  outline: none;
}
.blog-input--write::placeholder {
  color: #ccc;
}
.blog-write,
.placeholder {
  color: #ccc !important;
}
.blog-write--footer {
  margin: 16px 0;
}
.blog-write--classify {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.blog-write--classify h3 {
  font-size: 16px;
  line-height: 16px;
  margin-right: 16px;
}
.blog-write--select {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}
.blog-write--select li {
  margin: 8px 0;
  padding: 0 8px;
  border: 1px solid #8fa399;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  transition: 0.3s;
}
.blog-write--select li:not(:last-of-type) {
  margin-right: 8px;
}
.blog-write--select li.selected {
  background-color: #8fa399;
  color: #fafafa;
}
.blog-write--select li:hover {
  background-color: #8fa399;
  color: #fafafa;
}
.blog-write--control {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 8px;
}
.blog-submit--article {
  padding: 1.6px 24px;
  color: #fafafa;
  border-radius: 4px;
  background-color: #8fa399;
}
.blog-submit--article:hover {
  color: #fbfbfb;
  background-color: #a5b5ad;
}
.blog-article-wrap {
  border: 1px solid #f7f8fc;
  border-radius: 4px;
  box-shadow: 0 0 1px #999 inset;
  background-color: #fff;
}
.blog-article {
  margin: 8px;
  padding: 0 24px;
}
.blog-article h1,
.blog-article h2,
.blog-article h3,
.blog-article h4,
.blog-article h5,
.blog-article h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.blog-article--title {
  margin: 0;
  padding: 0;
}
.blog-article--author {
  color: #8fa399;
}
.blog-article--info {
  display: column;
  padding: 8px 16px;
  margin: 0 8px;
  background-color: #f7f8fc;
}
.blog-article--info>div {
  padding: 0;
}
.blog-article--content {
  padding: 24px 8px;
}
.blog-article--content img {
  left: 0;
  right: 0;
  margin: 16px auto;
  display: block;
  width: 50%;
  height: auto;
}
.blog-info--basic {
  text-align: left;
  font-size: 14px;
}
.blog-info--basic span:not(:last-of-type) {
  padding-right: 8px;
}
.blog-article--tags {
  text-align: right;
}
.blog-article--tags span {
  color: #ccc;
}
.blog-article--tags span::before {
  padding-right: 4px;
}
.blog-article--tags span:not(:last-of-type) {
  padding-right: 32px;
}
.blog-article--date {
  margin-top: 16px;
  color: #ccc;
  font-size: 14px;
  text-align: center;
}
.blog-message {
  position: fixed;
  z-index: 20000;
  width: 100%;
  bottom: 0;
}
.blog-message .alert.show {
  bottom: 0;
  opacity: 1;
}
.blog-columns {
  min-height: 480px;
}
.blog-column--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  min-width: 100px;
  background-color: #f2ede1;
  box-shadow: 0 0 4px 1px #999 inset;
  transition: 0.3s;
}
.blog-column--item:hover {
  z-index: 1;
  transform: scale(1.1);
}
.blog-column--item p {
  padding: 8px;
  font-size: 14px;
  color: #333;
  line-height: 2;
}
.blog-column--item:nth-of-type(2n) {
  background-color: #b3ccb1;
}
.blog-column--item:nth-of-type(3n) {
  background-color: #97ad97;
}
.item-2 {
  width: 6vw;
  height: 6vw;
}
.item-4 {
  width: 12vw;
  height: 12vw;
}
.item-6 {
  width: 18vw;
  height: 18vw;
}
.item-8 {
  width: 24vw;
  height: 24vw;
}
.item-1 {
  width: 3vw;
  height: 3vw;
}
.blog-column--add::after {
  content: '+';
  font-size: 3em;
}
.blog-comment {
  margin-top: 32px;
  border: 1px solid #f7f8fc;
  border-radius: 4px;
  box-shadow: 0 0 1px #999 inset;
  background-color: #fff;
}
.blog-comment--editor {
  padding: 32px 80px;
}
.blog-comment--title {
  font-weight: 300;
  font-size: 16px;
  color: #ccc;
  margin-bottom: 16px;
}
.blog-comment--input {
  height: 100px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 8px 0 0 16px;
  resize: none;
}
.blog-comment--input::placeholder {
  color: #ccc;
}
.blog-comment--input:focus {
  outline: 1px solid #8fa399;
}
.blog-comment--btn {
  display: flex;
  justify-content: flex-end;
}
.blog-comment--submit {
  padding: 1.6px 24px;
  color: #fafafa;
  border-radius: 4px;
  background-color: #8fa399;
}
.blog-comment--submit:hover {
  color: #fbfbfb;
  background-color: #a5b5ad;
}
.blog-comment--list li:not(:last-of-type) {
  border-bottom: 1px solid #e2e2e2;
}
.blog-comment--item {
  display: flex;
  padding: 32px 80px;
}
.blog-comment--avatar {
  padding-right: 8px;
}
.blog-comment--avatar>img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.blog-comment--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}
.blog-comment--username {
  height: 40px;
  margin-bottom: 8px;
}
.blog-comment--content {
  margin-bottom: 16px;
}
.blog-comment--date {
  color: #ccc;
}
.blog-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 10vh;
  background-color: #8fa399;
}
.blog-foot-content {
  display: flex;
  color: #fafafa;
}
.blog-foot-content li:not(:last-of-type) {
  margin-right: 8px;
}
.blog-toolbar {
  position: fixed;
  top: 120px;
  right: 50%;
  margin-right: -800px;
  width: 100px;
  background-color: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 1190px) {
  .blog-toolbar {
    margin-right: -560px;
  }
}
@media screen and (max-width: 990px) {
  .blog-toolbar {
    margin-right: -460px;
  }
}
.blog-toolbar--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #555;
}
.blog-toolbar--item:hover {
  color: #8fa399;
}
.blog-toolbar--item:not(:last-of-type) {
  border-bottom: 1px solid #e2e2e2;
}
.blog-toobar--icon {
  font-size: 42px !important;
  line-height: 42px;
}
.blog-toolbar--write {
  font-size: 14px;
  letter-spacing: 2px;
}
@font-face {
  font-family: "iconfont";
  src: url("../icon/iconfont.woff2?t=1697774086716") format('woff2'), url("../icon/iconfont.woff?t=1697774086716") format('woff'), url("../icon/iconfont.ttf?t=1697774086716") format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-write:before {
  content: "\e60e";
}
.icon-comment:before {
  content: "\e601";
}
.icon-like:before {
  content: "\ec7f";
}
.icon-browse:before {
  content: "\e816";
}
body {
  background-color: #f7f8fc;
}
