@import "./framework/head.styl"
@import "./framework/slide.styl"
@import "./framework/container.styl"
@import "./framework/modal.styl"
@import './framework/write.styl'
@import './framework/article.styl'
@import './framework/message.styl'
@import './framework/columns.styl'
@import './framework/comment.styl'
@import './framework/footer.styl'


body
  background-color bg-body-color