{{#if isLogin}}
<a class="blog-head--avatar" href="javascript:;" data-router="info">
  <img data-modal="info" src="images/avatar.png" alt="!">
</a>
{{else}}
<a href="javascript:;" id="login" class="blog-btn--login" data-modal="login">登录</a>&nbsp;/&nbsp;<a
            href="javascript:;" id="register" class="blog-btn--register" data-modal="register">注册</a>
{{/if}}