<div class="blog-write--scroll">
  <div class="blog-write" id="editor-container" class="typo"></div>
</div>
<div class="blog-write--control">
  <a data-router="write/clean" href="javascript:;">清空</a>
  <a data-router="write/submit" href="javascript:;">提交</a>
</div>

