<div class="blog-write--scroll">
  <div class="blog-write--title">
    <input type="text" class="blog-input--write typo" placeholder="请在此输入标题(必填)">
  </div>
  <div class="blog-write" id="editor-container" class="typo">
  </div>
</div>
<div class="blog-write--control">
  <a data-router="write/clean" href="javascript:;">清空</a>
  <a data-router="write/submit" href="javascript:;">提交</a>
</div>