/*variables start*/
head-height = 70px
bg-head-color = #24292f
bg-modifier-color = #999
bg-article-color = #fafafa

border-main-color = #212529

font-common-color = #212529
font-head-color = #fafafa
font-article-color = #555
font-hover-color = rgba(255,255,255,.6)
font-placeholder-color = rgba(0,0,0,.4)

margin-space = 8px
padding-space = 8px
border-radius-default = 8px

font-size-h = 16px
font-size-p = 12px

/*variables end*/
