@import "./_variables.styl"
@import "./_base.styl"
/*head start*/ 
.blog-head
  width 100%
  height head-height
  line-height head-height
  align-items center
  background-color bg-head-color
  color font-head-color
  user-select none
  .blog-head--logo
    img
      height 36px
      border-radius 50%
      width auto
  .blog-head--nav
    flex 1
    justify-content space-between
    align-items center
    .blog-nav--item
      margin 0
      padding 0
      &>li:not(first-child)
        margin-left margin-space * 4
    a
      text-decoration none
      color font-head-color
      &:hover
        color font-hover-color
.blog-nav-right
  flex 1
  justify-content right
  align-items center

.blog-head--search
  box-sizing border-box
  margin-right margin-space * 4
  .input-group
    overflow hidden
    height 36px
    border 1px solid bg-modifier-color
    border-radius border-radius-default
    .blog-input--search
      padding-left padding-space
      height 36px
      border 0
      background-color bg-head-color
      color bg-modifier-color
    svg
      color bg-modifier-color
      background-color bg-head-color
      cursor pointer

.blog-head--login
  .blog-btn--login,
  .blog-btn--register
    cursor pointer

.bi-chevron-down
  margin-left margin-space * 3
  cursor pointer
/*head end*/