@import "./_variables.styl"
/*base start*/

::placeholder
  font-size font-size-h
  color font-head-color

.flex
  display flex

.flex-column
  flex-direction column

.alert
  margin-bottom 0
/*base end*/