/*variables start*/
// #b7c5b3  浅绿
// #8FA399  深绿
// #fcf8f5  灰白
// #fafafa 
// #eeecea  浅灰
// #bfbfbf  深灰色
// #333 黑色

head-height = 70px
theme-color = #8FA399
bg-head-color = #8FA399
bg-modal-color = #fafafa
bg-main-color = #fafafa

iptBorder-head-color = #fafafa
border-main-color = #5e767c
border-modal-color = #5e767c

font-common-color = #333
font-head-color = #fafafa
font-modal-color = #555
font-main-color = #555
font-placeholder-color = rgba(0,0,0,.4)
font-writeplaceh-color = #999

bg-color-red = #FF4E50
bg-orange = #FA6900
bg-blue = #69D2E7
bg-green = #A7DBD8

margin-space = 8px
padding-space = 8px
border-radius-default = 8px

font-size-h = 16px
font-size-p = 12px

/*variables end*/
