.blog-comment
  margin-top margin-space * 4
  border 1px solid bg-body-color
  border-radius 4px
  box-shadow 0 0 1px border-main-color inset
  background-color bg-main-color

.blog-comment--editor
  padding padding-space * 4 padding-space * 10

.blog-comment--title
  font-weight 300
  font-size font-size-h
  color font-writeplace-color
  margin-bottom margin-space * 2

.blog-comment--input
  height 100px
  width 100%
  border 1px solid border-main-color
  border-radius 4px
  padding padding-space 0 0 padding-space * 2
  resize none
  &::placeholder
    color font-writeplace-color
  &:focus
    outline 1px solid theme-color

.blog-comment--btn
  display flex
  justify-content flex-end

.blog-comment--submit
  padding padding-space * .2 padding-space *3
  color font-head-color
  border-radius border-radius-default * .5
  background-color theme-color
  &:hover
    color lighten(font-head-color,20%)
    background-color lighten(theme-color, 20%)

.blog-comment--list
  li
    &:not(:last-of-type)
      border-bottom 1px solid border-grey-color


.blog-comment--item
  display flex
  padding padding-space * 4 padding-space * 10

.blog-comment--avatar
  padding-right padding-space
  &>img
    height 40px
    width 40px
    border-radius 50%

.blog-comment--info
  display flex
  flex-direction column
  align-items flex-start
  font-size 14px

.blog-comment--username
  height 40px
  margin-bottom margin-space

.blog-comment--content
  margin-bottom margin-space * 2

.blog-comment--date
  color font-writeplace-color

