.blog-main-wrap
  position relative
  padding padding-space
  min-height 80vh
  border-radius border-radius-default * .5
  box-shadow 0 0 2px border-main-color
  
.blog-content--item
  text-align center
  color font-main-color
  &:not(:last-of-type)
    margin-bottom margin-space

.blog-content-link
  display block
  background-color bg-main-color
  border-radius border-radius-default * .5
  transition .3s
  &:hover
    box-shadow 0 0 3px theme-color inset

.blog-item--title
  padding-top padding-space * 3
  font-size font-size-h * 1.5

.blog-item--info
  display flex
  justify-content center
  align-items center
  height 40px
  font-size font-size-p
  padding-bottom padding-space * 2
  p
    &:not(:last-of-type)
      padding-right padding-space

.blog-item--illustration
  height 220px
  width auto
  padding padding-space

.blog-item--desc
  padding padding-space * 3
  text-align left
  text-indent 2em

.blog-item--tags
  display flex
  justify-content flex-end
  padding padding-space * 2

.blog-tags--like
  padding-right padding-space
.blog-tags--like,
.blog-tags--comment
  &:hover
    color theme-color

.blog-content-never
  display flex
  justify-content center
  align-items center
  min-height 70vh

.blog-item-btn
  display block
  padding padding-space * 2 0
  &:hover
    font-weight 500
    color theme-color