.blog-main-wrap
  padding padding-space
  height 80vh
  overflow-y: auto
  border-radius border-radius-default * .5
  box-shadow 0 0 2px border-main-color
  
.blog-content--item
  background-color bg-main-color
  text-align center
  color font-main-color
  cursor pointer
  &:not(:last-of-type)
    margin-bottom margin-space
  &:hover
    .blog-item--desc
      color darken(font-main-color,80%)

.blog-item--title
  padding-top padding-space * 3
  font-size font-size-h * 1.5

.blog-item--date
  font-size font-size-p
  padding-bottom padding-space

.blog-item--illustration
  height 220px
  width auto
  padding padding-space

.blog-item--desc
  padding padding-space * 3
  text-align left
  text-indent 2em

.blog-item--tags
  display flex
  justify-content flex-end
  padding padding-space * 2
  .blog-tags--like,
  .blog-tags--comment
    &:hover
      color darken(font-main-color,80%)