.blog-foot
  display flex
  justify-content center
  align-items center
  margin-top 10vh
  height 10vh
  background-color theme-color

.blog-foot-content
  display flex
  color font-head-color
  li
    &:not(:last-of-type)
      margin-right margin-space