.blog-message
  position fixed
  z-index 999
  width 100%
  bottom 0

.blog-message .alert
  &.show
    bottom 0
    opacity 1
  // &.move
  //   animation slideUp 1s 2s forwards
  //   @keyframes slideUp
  //     0%
  //       bottom 0
  //       opacity 1
  //     100%
  //       bottom 52px
  //       opacity 0
