#editor-container
  h1,h2,h3,h4,h5,h6
    font-weight 700
  &>.w-e-text-container
    position relative !important
    height 60vh !important

.blog-write--title
  margin margin-space * 2 0

.blog-input--write
  padding padding-space
  width 100%
  font-size 32px
  font-weight 700
  text-align center
  border 0
  border-bottom 1px solid theme-color
  &:focus
    outline none
  &::placeholder
    color font-writeplaceh-color

.placeholder
  color font-writeplaceh-color !important

.blog-write--footer
  margin-top margin-space * 2

.blog-write--classify
  display flex
  align-items center
  margin-top margin-space * 2
  h3
    font-size font-size-h
    line-height font-size-h
    margin-right margin-space * 2

.blog-write--select
  display flex
  align-items center
  flex 1
  flex-wrap wrap
  li
    margin margin-space 0
    padding 0 padding-space 
    border 1px solid theme-color
    border-radius border-radius-default * 2
    cursor pointer
    user-select none
    font-size 14px
    transition .3s
    &:not(:last-of-type)
      margin-right margin-space
    &.selected
      background-color theme-color
      color font-head-color
    &:hover
      background-color theme-color
      color font-head-color

.blog-write--control
  display flex
  justify-content flex-end
  align-content center
  padding padding-space

.blog-submit--article
  padding padding-space * .5 padding-space *2
  &:hover
    border 1px solid #ccc
    border-radius border-radius-default * 2
    background-color theme-color
    color font-head-color
